<html>
  <head>
    <% include partials/head %>
  </head>
  <body>
    <% include partials/nav %>
    <p>
      Welcome to Gitfolio!
    </p>
    <p>
      <a href="https://github.com/login/oauth/authorize?scope=user:email&client_id=a9673603ce17a0b961f0">Login</a>
    </p>
  </body>
</html>
