<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Gitfolio</title>

  <!-- Bootstrap Core CSS -->
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom Fonts -->
  <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

  <!-- Plugin CSS -->
  <link href="/vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

  <!-- Theme CSS -->
  <link href="/css/search.css" rel="stylesheet">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>

<body>
  <header>
    <div class="header-content">
      <div class="header-content-inner">
        <img id="logo" src="/img/logo.png">
        <hr>
        <p>Search what you want!</p>
        <form class="form-inline" action="main" method="post">
          <input name="userID" type="string" class="form-control" size="60" placeholder="Search Username" required>
          <button type="submit" class="btn btn-default btn-xl sr-button" value="SUBMIT">Search</button>
          <div name="login" value='false'/>
        </form>
        <div class="sign-button-group">
          <a id="sign-up-btn" class="btn btn-default btn-xl sr-button" onclick="getElementById('sign_up').hidden = false; getElementById('sign_in').hidden = true;") >Sign Up</a>
          <a id="sign-in-btn" class="btn btn-default btn-xl sr-button" onclick="getElementById('sign_in').hidden = false; getElementById('sign_up').hidden = true;") >Sign In</a>
        </div>
        <form id="sign_up" class="form-inline" action="api/userProfiles" method="post" hidden="true">
          <input name="userID" type="string" class="form-control" size="60" placeholder="Your github ID" required>
          <button type="submit" class="btn btn-default btn-xl sr-button" value="SUBMIT">Sign Up</button>
        </form>
        <form id="sign_in" class="form-inline" action="main" method="post" hidden="true">
          <input name="login" value='true' hidden='true'/>
          <input name="userID" type="string" class="form-control" size="60" placeholder="Your github ID" required>
          <button type="submit" class="btn btn-default btn-xl sr-button" value="SUBMIT">Sign In</button>
        </form>
      </div>
    </div>
  </header>

    <div class="modal fade" id="userAdd" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <form action="api/userProfiles" method="post">
            <div class="modal-body">
              <fieldset>
                <div class="form-group">
                  <label>Enter your Github ID</label>
                  <input type="text" class="form-control" name="userID" id="userID" placeholder="Your github Email" required>
                </div>
              </fieldset>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary" value="SUBMIT">Sign Up</button>
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </form>
        </div>
      </div>
    </div>


      <!-- jQuery -->
      <script src="/vendor/jquery/jquery.min.js"></script>

      <!-- Bootstrap Core JavaScript -->
      <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>

      <!-- Plugin JavaScript -->
      <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
      <script src="/vendor/scrollreveal/scrollreveal.min.js"></script>
</body>
</html>
